<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=dbbcab0d-6b6f-4ac4-905c-a3ed0093bc51.sqlserver.sequelizer.com;Database=dbdbbcab0d6b6f4ac4905ca3ed0093bc51;User ID=qgtkmnslmjvtjwok;Password=NQcxuXfCUZLDzUVqYEgfqzP7DcnhnHQoWDjxskzWhqKL2oaQJJ5XWBhnae3sJ7qm;"/>
  </connectionStrings>
</configuration>